<p class="show-apo-num-p">e-Patrvalli (Customised & Dynamic e-File Service)</p>

<div class="show-apo-num">
  <div class="main-layout-flex">

    <div class="status-inner-main">
    <!-- Back Button -->
    <button mat-icon-button color="accent" class="circle-button" (click)="goToOrders()">
      <img src="assets/images/back-button-icon.png" />
    </button>

    <!-- Title -->

    <div class="main-layout-flex" style="cursor:pointer;">
      <button style="border: none; background-color: transparent;">
        <img src="assets/images/folder-icon.png" />
      </button>
      <label class="show-apo-orders-title">APO Regularization</label>
    </div>

    <!-- Order Number -->
    <div class="main-layout-flex" *ngIf="apoOrderNo">
      <button style="border: none; background-color: transparent; margin-top: 5px;">
        <img src="assets/images/arrow-icon.png" />
      </button>
      <label class="show-apo-orders-number">{{ apoOrderNo }}</label>
    </div>
    </div>

    <!-- New Request Button -->
    <div class="button-container">
      <button *ngIf="isNewRequest" mat-button class="button-new-request" (click)="newRequestDialog()">
        + New Request
      </button>
    </div>

  </div>
</div>
